<!doctype html>
<html class="no-js" lang="" ng-app="AngularApp" ng-csp>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="ControladorEstudiantes">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <table class="table table-striped">
            <tr>
                <th>Nombre</th>
                <th>Id</th>
                <th>Correo</th>
                <th>Notas</th>
            </tr>
            <tr  ng-repeat="(id,estudiante) in estudiantes track by $index">
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.id}}</td>
                <td>{{estudiante.correo}}</td>
                <td><span ng-repeat="nota in estudiante.notas track by $index"><input max="5" min="0" type="number" ng-model="nota"/></span></td>
            </tr>
        </table>
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Matricular Estudiante</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Matricular Estudiante</h4>
                    </div>
                    <form ng-submit="crearEstudiante()">
                        <div class="modal-body">

                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                                </div>
                                <div class="form-group">
                                    <label for="cedula">Email address</label>
                                    <input type="text" class="form-control" id="cedula" placeholder="Cedula">
                                </div>
                                <div class="form-group">
                                    <label for="correo">Email address</label>
                                    <input type="email" class="form-control" id="correo" placeholder="Enter email">
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Matricular Estudiant</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/main.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>


    </body>
</html>
